@import 'antd/antd';
@import 'tailwind/tailwind';
@import 'common/scrollbar';
@import 'common/navbar';
@import 'https://fonts.googleapis.com/css2?family=Tinos&display=swap';

@font-face {
  font-family: STXinwei;
  src: url('../styles/fonts/chinese.stxinwei.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

:root {
  --primary: #3d3d3d;
  --text-main: #000;
  --text-error: #eb5757;
  --grey-500: #5c5c5c;
  --grey-400: #7a7a7a;
  --grey-300: #9a9a9a;
  --grey-200: #d6d6d6;
  --grey-100: #e8e8e8;
  --blue-200: #d1f8f3;
  --white: #fff;
}

.ant-modal.modal-web {
  width: 720px;
}

.post-content .ql-container {
  height: 160px;
}

.modal-web .ql-container.ql-snow {
  height: 160px;
}

.modal-web .ant-modal-content {
  border-radius: 16px;
}

.modal-web .ant-modal-content .ant-modal-header {
  padding: 16px;
  border-radius: 16px 16px 0 0;

  .ant-modal-title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
}

.modal-web .ant-modal-content .ant-modal-body,
.ant-modal-footer {
  padding: 16px;
}

.timeline .ant-timeline-item {
  font-size: 16px;
}

.home .slick-slide {
  text-align: center;
  height: 520px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.home .slick-slide h3 {
  color: #fff;
}

.tab-pane {
  font-size: 18px;
  line-height: 2.5rem;
}

.sider a {
  color: #727272;
}

.sider {
  .title::after {
    position: absolute;
    width: 50px;
    display: block;
    height: 4px;
    bottom: -15px;
    background-color: #ffd154;
    content: '';
  }
}
